#Ignore virtual environment configurations
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.PrivateVenv

#Ignore python stuff
__pycache__


#vscode stuff
.vscode
*.code-workspace

#output folder
out/#
plots/

#BigFiles
/BigFiles
/fotos_carros
/fotos_motos

#Copies and stuff
/copias
/fotos
bobadas.py
preprocessing.ipynb
preprocessing_selection.ipynb
.gitignore
additional_info
aplication_detect_cars_and_lp_video_2.py
recognitions.ipynb
alternative_devJ.py
devJ.py
Vehicle_and_license_plate_recognition_with_preprocessing.py
Vehicle_and_license_plate_recognition_with_preprocessing_changed.py
functions2.py
Vehicle_and_license_plate_recognition_changed_too.py
Vehicle_and_license_plate_recognition_with_preprocessing_changed2.py
/old

#Documentary:
#	# Ignore Mac system files
#	.DS_store

#	# Ignore node_modules folder
#	node_modules

#	# Ignore all text files
#	*.txt

#	# Ignore files related to API keys
#	.env

#	# Ignore SASS config files
#	.sass-cache